.companyTableWrapper {
    max-height: 350px;
    overflow-y: auto;
    border-radius: 8px;
    border: 1px solid #eee;
}

.companyTable {
    width: 100%;
    border-collapse: collapse;
    min-width: 500px;

    .companyHeader,
    .companyCell {
        padding: 0.75rem;
        text-align: center;
        border-bottom: 1px solid #eee;
    }

    .companyHeader {
        background-color: #f5f5f5;
        position: sticky;
        top: 0;
        z-index: 1;
    }
}
