.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrado vertical */
  align-items: center; /* Centrado horizontal */
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
}
.Login_header1 {
  font-family:
    Lucida Console,
    monospace;
}
.Login_button1 {
  background-color: #ffe900;
}
.Login_input1 {
  margin: 5px;
  border: 1px solid rgb(204, 204, 204);
  width: 250px;
}
.Login_div1 {
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #a39a9a;
  border-right-color: #a39a9a;
  border-bottom-color: #a39a9a;
  border-left-color: #a39a9a;
  border: 1px solid #000000;
  background-color: #fefefe;
  width: 350px;
  height: 300px;
  left: 250px;
  display: flex;
}
.Login_input2 {
  border: 2px solid #331717;
  width: 250px;
}
